    {% extends 'base.html' %}

    {% block content %}
        <form class="col-5" action="/create_user" method="POST">
            
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h1>Register</h1>
                <!-- <a class="btn btn-dark" href="/users" role="button">Home</a> -->
            </div>
            
            <div>
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name">
                {% with messages = get_flashed_messages(category_filter='first_name') %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="alert alert-danger p-1">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div><br>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name">
                {% with messages = get_flashed_messages(category_filter='last_name') %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="alert alert-danger p-1">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" name="email">
                {% with messages = get_flashed_messages(category_filter='email') %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="alert alert-danger p-1">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
                {% with messages = get_flashed_messages(category_filter='password') %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="alert alert-danger p-1">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="mb-3">
                <label for="pwcheck" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="pwcheck">
                {% with messages = get_flashed_messages(category_filter='pwcheck') %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p class="alert alert-danger p-1">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <button type="submit" class="btn btn-primary mb-4">Register</button> <br>
        </form>

        <form class="col-5" action="/login" method="POST">
            
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h1>Login</h1>
                <!-- <a class="btn btn-dark" href="/users" role="button">Home</a> -->
            </div>
            {% with messages = get_flashed_messages(category_filter='login') %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="alert alert-danger p-1">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                <label for="login_email" class="form-label">Email</label>
                <input type="text" class="form-control" name="login_email">
                
            </div><br>
            <div class="mb-3">
                <label for="login_password" class="form-label">Password</label>
                <input type="password" class="form-control" name="login_password">
                
            </div>
            <button type="submit" class="btn btn-primary mb-4">Login</button> <br>
        </form>

    
    {% endblock  %}