.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #99dea1;
  color: #212e5f;
  border: 1px black;
}
body main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  /* outline: 1px solid red; */
}
